.settings {
  margin: 10px;
}

.settings__reset-camera {
  margin: 15px 0;
  text-transform: none;
}

.settings__table-row {
  display: grid;
  padding: 5px 0;
  grid-template-columns: minmax(100px, 5fr) 7fr;
  gap: 10px;
}

.settings__table-center {
  display: grid;
  align-items: center;

}

.settings__name {
  font-size: 1.1em;
  grid-column-start: 1;
  grid-column-end: 2;
}

.settings__table-separator {
  height: 1px;
  background-color: rgba(97, 97, 97, 0.5);
  width: 85%;
}

.settings__input-number {
  width: 50px;
}
